* {
    margin:0; padding:0;
    font-size:inherit;
    color:inherit;
    -webkit-font-smoothing: antialiased;
}
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
    text-decoration:none;
    background-color:transparent;
    font-size:11px;
    color:#2d2a2b ;
}
img {border:none;}
html {height: 100%;}
body {
    height: auto !important;
    min-height: 100%;
    position: relative;
    background: #ffffff ;
    font-size:13px;
    color:#575757 ;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 290px;

}
.h1-font {
    background-image: url("../images/faq_03.png");
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    margin-top: 185px;
    margin-bottom: 170px;
    height: 250px;
    width: 80%;
    margin-left: 10%;
    padding-top: 75px;
}
h1 {
    display: inline;
    font-family: "PT Sans";
    font-size: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.h1-font:before {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
}
.h1-font:before {
    margin-right: 20px;
    content: url("../images/flower_03.png");
}

h3:before {
    content: "·";
}

.ui-widget {
    font-family: "PT Sans";
    font-size: 30px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    background-color: #fef5fa;
    /*list-style: none;*/
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 35px;
    color: #860da6;
    font-weight: bold;
    background-color: #fce7f2;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-accordion-header-active {
    border: none;
}
.ui-state-active .ui-icon, .ui-accordion-header:hover .ui-icon {
    display: block;
    width: 32px ;
    height: 18px ;
    background-image: url("../images/icon-bottom_03.png");
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    right: 50px;
    top: 46px;
}
.ui-icon {
    display: block;
    width: 18px;
    height: 32px;
    background-image: url("../images/icon-right_03.png");
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    right: 50px;
    top: 35px;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}




